body {
    background-image: url("/resources/img/bg.png");

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.jumbotron {
    -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

/* Login Form */
.wrapper {
    margin-top: 80px;
    margin-bottom: 50px;
}

.form-signin {
    max-width: 380px;
    padding: 30px 38px 40px;
    margin: 0 auto;
    background-color: #eee;
    border: 3px dotted rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.7);
}

.form-signin-heading {
    font-size: 20px;
    height: auto;
    text-align: center;
    margin-bottom: 30px;
}


input[type="text"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #aecc6a 12.5%, #aecc6a 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #aecc6a 12.5%, #aecc6a 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #aecc6a 12.5%, #aecc6a 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #aecc6a 12.5%, #aecc6a 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

/* Modal_Signup */
.loginmodal-container {
    max-width: 700px;
    background-color: #eee;
    margin-top: 100px;
    padding: 30px 38px 60px;
    border-radius: 3px;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

.modal-add-new-data {
    max-width: 400px;
    background-color: #eee;
    margin: 220px auto;
    padding: 25px;
    border-radius: 3px;
    box-shadow: 5px 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.padding_block {
    padding-bottom: 10px;
}

/* Flot Chart JS */

.demo-container {
    max-width: 100%;
    height: 290px;
    width: 680px;
}

.demo-placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}

/* Bootstrap Date Picker */
.first_calendar {
    text-indent: 8px
}

.second_calendar {
    text-indent: 8px
}

/* Flot chart js */
.tickLabel {
    padding: 0 5px;
!important;
}

.legendColorBox {
    padding: 2px 0 2px 2px;
}

.legendLabel {
    padding: 0 2px;
}

/* Data Table */
.table td {
    text-align: center;
}

/* Data Table */
.table td {
    text-align: center;
    color: #292626;
}

.table th {
    text-align: center;
}

.table thead {
    background-color: #5bc0de;
    color: #eee;
}

.ui-growl {
    top: 80% !important;
}